
/seccion04/node_modules
/seccion04/salida/*.txt

/seccion05/node_modules
/seccion05/db/casos.*
/seccion06/node_modules
/seccion06/.env
/seccion07/node_modules
/SECCION08/node_modules
/seccion09/node_modules
/seccion10/node_modules
/seccion11/node_modules
/seccion12/node_modules
/seccion13/node_modules

/seccion09/.env
/seccion10/.env
/seccion11/.env
/seccion12/.env
/seccion13/.env
/seccion12/tmp
/seccion12/uploads
.gitignore
/unsplash/.env
/unsplash/node_modules
/unsplash-js-javascript/node_modules